/*Imported google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

body {
    background: lightgray;
}

h1 {
    font-family: Permanent Marker;
}
h2, .rules, .points {
    font-family: Pacifico;
}
#top-section {
    text-align: center;
    font-size: larger;
}

#grade {
    
    font-size: x-large;
    text-align: center;
}

.points {
    display: inline-block;
    

}
#playground {
    width:640px;
    height:370px;
    margin: auto;
    text-align: center;
    
}
#reset {
    text-align: center;
}
#reset-button {
    background-color: white;
    font-size: larger;
    border: 0.5px solid black;
    padding: 10px 15px 10px 15px;
    font-family: Kanit;
}
#reset-button:hover {
    background-color: white;
    color: gray;
}
footer {
    text-align: center;
}
.play-card {
    width:100px;
    height:100px;
    border: 1.5px solid black;
}
@media (max-width:480px) {
    #playground {
        width:100%
    }
}
@media (max-width:576px) {
    #playground {
        width:100%
    }
}

@media (max-width:768px) {
    #playground {
        width:100%;
    }
}

@media (max-width:1200px) {
    #playground {
        width:100%;
    }
}