/*Imported google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background: white;
}

h1 {
    font-family: Permanent Marker;
}
#top-section {
    text-align: center;
    font-size: larger;
}
#timer {
    text-align: center;
}
#grade {
    
    font-size: x-large;
    text-align: center;
}

.points {
    display: inline-block;
    padding: 30px;

}

